BOT_TOKEN = ""          # 12345:AbcDefghijkL.....
OWNER_ID = ""           # 123456789
MONGODB_URI = ""        # MongoDB URI
DB_NAME = ""            # Database name
SERVER_URL = ""         # eg. https://appname.deployed-server.com